  <form action="/api/logout">
         <button type="submit">Wylogowywanie</button>
         <output name="output"></output>
      </form>

      <script>
         const form = document.querySelector('form');
         form.addEventListener('submit', handleSubmit);


        function deleteAllCookies() {
            const cookies = document.cookie.split(";");

            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i];
                const eqPos = cookie.indexOf("=");
                const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }

         async function handleSubmit(event) {
            event.preventDefault();

           

            const response = await fetch('/api/logout', {
               method: 'DELETE',
            });

            const responseData = await response.json();

            deleteAllCookies();

            form.output.innerText = JSON.stringify(responseData);
         }
      </script>
   </body>
</html>
