<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/status">Status</a>
<a href="/logout"> Logout</a>
<a href="/eventAdd"> Add Random Event </a>
<a href="/eventsGet">  Get Your Events</a>
<a href="/addEventById">  Add Event By Id</a>
<a href="/autoLogin">  Auto Login </a>